body{
    margin:0;
}

#topHalf, #bottomHalf{
    width: 100vw;
    height: 400px;
    position: abosolute;
}

#topHalf{
    background-color: blue;
    /* border: 5px solid black; */
}

#bottomHalf{
    background-color: rgb(17, 91, 125);
}
img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* border: 25px solid white; */
} */





#box {
    display: flex;
    flex-direction: column;
    position: relative;
  }
/* 
  #boxOne{
    background-color: red;
}
  #boxTwo{
    background-color: blue;
} */